<!DOCTYPE html>
<html>
    <head>
        <title>Samantha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Samantha's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first Day</a></h2>
            <p>Hello my name is Samantha Foster and I am apart of a program called Girls Who Code. It is a 7 week program that teaches girls from the age of 13-17 how to code and given the oppurtunity to be exposed to what is going on behind all the websites and many more.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second week</a></h2>
            <p>It has been very interesting learning what has been going on. </p>
        </div>
    </body>
</html>
